# ==========================================
# 대용량 원본 데이터
# ==========================================

disabled_taxi_2025.csv


# ==========================================
# 전처리된 대용량 데이터
# ==========================================

processed/*.csv


# ==========================================
# macOS 자동 생성 파일
# ==========================================

.DS_Store


# ==========================================
# Python 자동 생성 파일
# ==========================================

__pycache__/
*.pyc


# ==========================================
# VS Code 개인 설정
# ==========================================

.vscode/
